
<nav class="panel bottom white relative padding-top-1 padding-bottom-1">
    <div class="sections desktop">
        <div class="left">
            <a href="#" title="Slides Framework">
                <svg class="noFill middle" width="30" height="30" fill="#FBFBFB"><use href="assets/svg/icon-set.svg?p=K3pa7jkW#logo"></use></svg>
                <p class="app-logo crop margin-left-1 inlineBlock middle bold">App Name</p>
            </a>
        </div>
        <div class="center">
            <ul class="menu">
                <li class=""><a class="p smaller" href="#">FEATURE</a></li>
                <li class=""><a class="p smaller" href="#">REVIEWS</a></li>
                <li class=""><a class="p smaller" href="#">BLOG</a></li>
                <li class=""><a class="p smaller" href="#">SUPPORT</a></li>
            </ul>
        </div>
        <div class="right  smaller">
            <a href="#"><i  class="fa fa-twitter margin-right-2 " ></i></a>
            <a href=""><i class="fa fa-instagram"></i></a>

        </div>
    </div>
    <div class="sections compact hidden">
        <div class="left"><a href="#" title="Slides Framework"><svg style="width:82px;height:24px"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="http://localhost:7884/framework/panels/4/#logo"></use></svg></a></div>
        <div class="right"><span class="button actionButton sidebarTrigger" data-sidebar-id="1"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="http://localhost:7884/framework/panels/4/#menu"></use></svg></span></div>
    </div>
</nav>

include svg_libraries

</body>
</html>