<nav class="panel top black transparent padding-top-2 padding-bottom-2">
    <div class="sections desktop">
        <div class="left">
            <a href="#" title="Slides Framework">
                <svg class="noFill middle " width="30" height="30" fill="#FBFBFB"><use href=""></use></svg>
                <p class="app-logo crop margin-left-1 inlineBlock middle bold">App Name</p>
            </a>
        </div>
        <div class="center">
            <ul class="menu">
                <li class=""><a class="p smaller" href="#">FEATURE</a></li>
                <li class=""><a class="p smaller" href="#">REVIEWS</a></li>
                <li class=""><a class="p smaller" href="#">BLOG</a></li>
                <li class=""><a class="p smaller" href="#">SUPPORT</a></li>
            </ul>
        </div>
        <div class="right"><a class=" small" href="#">GET AN ACCOUNT</a></div>
    </div>
    <div class="sections compact hidden">
        <div class="left"><a href="#" title="Slides Framework"><svg style="width:82px;height:24px"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="http://localhost:7884/framework/panels/4/#logo"></use></svg></a></div>
        <div class="right"><span class="button actionButton sidebarTrigger" data-sidebar-id="1"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="http://localhost:7884/framework/panels/4/#menu"></use></svg></span></div>
    </div>
</nav>

<nav class="sidebar" data-sidebar-id="1">
    <div class="close"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="http://localhost:7884/framework/panels/4/#close"></use></svg></div>
    <div class="content">
        <a href="#" class="logo"><svg width="100" height="30"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="http://localhost:7884/framework/panels/4/#logo"></use></svg></a>
        <ul class="mainMenu margin-top-3">
            <li><a href="#">All Goods</a></li>
            <li><a href="#">UI Kits</a></li>
            <li><a href="#">Icons</a></li>
            <li><a href="#">Mockups</a></li>
            <li><a href="#">Toolkit</a></li>
        </ul>
        <ul class="subMenu small opacity-8">
            <li><a href="#">Submit Product</a></li>
            <li><a href="#">FAQ</a></li>
            <li><a href="#">License</a></li>
            <li><a href="#">Terms &amp; Conditions</a></li>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Contact Us</a></li>
        </ul>
        <ul class="social opacity-8">
            <li><a href="#"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="http://localhost:7884/framework/panels/4/#facebook"></use></svg></a></li>
            <li><a href="#"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="http://localhost:7884/framework/panels/4/#twitter"></use></svg></a></li>
            <li><a href="#"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="http://localhost:7884/framework/panels/4/#instagram"></use></svg></a></li>
        </ul>
    </div>
</nav>
