-
    //- Variables PUG/JS Locales - NIVEL 1
    const dir = '';

include ../includes/head



<section class="slide fade-6 kenBurns selected animate active" data-title="Slide #11 (11)" data-name="slide-11-cb23524d">
    <div class="content">
        <div class="container">
            <div class="wrap">
                <div class="fix-8-12">
                    <h1 class="smallest margin-bottom-2 done">Bienvenido al Proyecto de <span class="text-yellow">Wed Design</span> del Bootcamp FullStack de Javascript de<br><span class="text-yellow"><a href="https://programadoreschile.org/"><img src="../../../assets/img/logos/programadores-chile-0.png" width="400" alt=""></a></span></h1>
                    <p class="large margin-bottom-2 done"><span class="opacity-8">En los siguientes botones podrán ver dos proyectos con todos los conocimientos impartidos en el primer modulo:<br> HTML - CSS - PUG - JAVASCRIPT - SASS - SLIDER</span></p>
                    <a href="#{dir}../../../../../aplicacion/index.html" class="button rounded transparent margin-top-1 text-amber border stroke padding-right-5 padding-left-5 done">App</a>
                    <a href="#{dir}../../../../../restaurant/index.html" class="button rounded transparent stroke text-amber margin-top-1 fromCenter done">Restaurant</a>
                </div>
            </div>
        </div>
    </div>
    <div class="background" style="background-image:url(#{dir}assets/img/homepage/backgrounds/fondo-taza-js.jpg)"></div>
</section>



script
    include ../scripts/console.js


include ../includes/footer

